[2020-02-13 08:42] coolpalani opened #1 "Docker container crashed"
Hi,

I tried to run the service as docker but it's throwing below error message and docker dead while hit ipaddress:9107

`level=info ts=2020-02-13T08:35:01.260Z caller=harbor_exporter.go:261 msg="Starting harbor_exporter" version="(version=v0.2, branch=master,` `revision=70e0d756ff79908745b4395439df31cb57c1f7eb)"`
`level=info ts=2020-02-13T08:35:01.260Z caller=harbor_exporter.go:262` `build_conte

[2020-02-13 12:35] c4po commented on #1
@coolpalani  from the log it seems you don't have right connection to your harbor server.
Can you try if you can run this curl command with your harbor server.
`curl -u ${HARBOR_USERNAME}:${HARBOR_PASSWORD} ${HARBOR_SERVER}/api/logs`

[2020-02-20 15:56] cmur2 commented on #1
I experience the same segfault and checked using curl which gives:
[code]

Looking at the source code in https://github.com/c4po/harbor_exporter/blob/master/harbor_exporter.go#L221 the first thing that is retrieved is container scanner statistics but my Harbor instance does not have a scanner.

@c4po I'm really grateful that you developed this exporter where the official software did nothing in 2

[2020-02-20 16:07] cmur2 commented on #1
Looking at https://github.com/c4po/harbor_exporter/blob/master/harbor_exporter.go#L145 it becomes obvious that `err == nil` when `resp.StatusCode != http.StatusOK` which leads to the segfault in the next line where `err.Error()` is done but `err == nil`.

[2020-02-20 17:09] #1 closed

[2020-03-17 14:07] Pruthvi08 opened #5 "Duplicate values while scraping the metrics through Exporter"
level=error ts=2020-03-17T13:58:20.891Z caller=harbor_exporter.go:111 msg="error gathering metrics:8 error(s) occurred:\n* collected metric "harbor_quotas_count_total" { label:<name:"repo_id" value:"0" > label:<name:"repo_name" value:"" > label:<name:"type" value:"hard" > gauge:<value:-1 > } was collected before with the same name and label values\n* collected metric "harbor_quotas_count_total" {

[2020-03-17 14:22] c4po commented on #5
@Pruthvi08 is the exporter crash or just warning message? what's the harbor version you are using?

[2020-03-17 18:32] pruthvirajkanmantha commented on #5
@c4po The exporter pod is still running but it throws the above mentioned error and I'm using the latest version of harbor v1.10.1.

[2020-03-17 19:40] c4po commented on #5
@Pruthvi08 can you share the full logs through git gist?

[2020-03-17 20:12] pruthvirajkanmantha commented on #5
[harbor_exporter_logs.txt](https://github.com/c4po/harbor_exporter/files/4345623/harbor_exporter_logs.txt)

[2020-03-17 23:20] c4po commented on #5
@Pruthvi08 can you check if the user have permission to access the api  `/api/quotas` ? it seems the exporter cannot get repo_id from the result.

[2020-03-19 17:10] pruthvirajkanmantha commented on #5
@c4po I'm using admin super user to scarpe the metrics. I tried sending a GET to /api/quotas manually and got response with all the quota sizes of various repositories.
For ref:
`  {
    "id": 1,
    "ref": null,
    "creation_time": "2020-02-26T15:56:50.244519Z",
    "update_time": "2020-02-26T15:56:50.244519Z",
    "hard": {
      "count": -1,
      "storage": -1
    },
    "used": {
      "coun

[2020-03-19 18:41] c4po commented on #5
@Pruthvi08  what I got on my harbor server is a list of quota object like ` [ {"id":1,...}]`. So you only got a single json object not a list? If it's the case, I think that's the issue. The code is try to parser the vault from a json list.

[2020-03-19 20:45] pruthvirajkanmantha commented on #5
@c4po  I actually got a list. But i only posted a part of it.

[2020-03-20 13:56] c4po commented on #5
@Pruthvi08 can you post the full list? I cannot reproduce the error in my setup.

[2020-03-20 16:27] pruthvirajkanmantha commented on #5
@c4po
[quotas.txt](https://github.com/c4po/harbor_exporter/files/4360743/quotas.txt)

And the log message:
level=error ts=2020-03-20T13:30:28.256Z caller=harbor_exporter.go:111 msg="error gathering metrics:8 error(s) occurred:\n* collected metric \"harbor_quotas_count_total\" { label:<name:\"repo_id\" value:\"0\" > label:<name:\"repo_name\" value:\"\" > label:<name:\"type\" value:\"hard\" > gauge:

[2020-03-21 02:09] c4po commented on #5
@Pruthvi08  do you know why you get `"ref": null, ` in your quota response json? it should be the repo name and repo id.
however, I made a fix to handle this edge case. please test with the new image `c4po/harbor-exporter:v0.3-debug` and let me know if the error message is gone

[2020-03-29 15:21] c4po commented on #5
@Pruthvi08 do you have a chance to test this out?

[2020-03-29 15:44] pruthvirajkanmantha commented on #5
@c4po  Sorry for the delay. I tried using the new image c4po/harbor-exporter:v0.3-debug. I know don't see the issue with the duplication of metrics anymore. But i also noticed that i have a different issue which i have mentioned as an attachment.
<img width="1436" alt="Screenshot 2020-03-29 at 17 42 49" src="https://user-images.githubusercontent.com/16479314/77853587-157a2f80-71e5-11ea-898f-308f54

[2020-03-29 15:59] c4po commented on #5
@Pruthvi08 is this an issue with your prometheus setup? do you have this with harbor exporter only?

[2020-03-30 14:36] pruthvirajkanmantha commented on #5
Thanks @c4po . The issue seems to be in prometheus config, the default scrape_timeout was set to 10 sec. In case of harbor-exporter sometimes it takes more than 10 sec to get the metrics and the empty spaces in the graph are basically because of that. The issue seems to be resolved now. Please close the issue.

[2020-03-30 15:26] #5 closed

[2020-04-08 13:49] mdraijer opened #11 "Add possibility to collect only specific metrics"
I noticed that harbor_exporter makes Harbor use significantly more resources when harbor_exporter is running. A few times the harbor-core container ended up in a CrashLoopBackOff. Adding more resources might help, increasing the interval in the servicemonitor also helps, but in the end that's just attacking symptoms.
The root cause, of course, it that the harbor_exporter is sending a burst of API

[2020-04-09 14:22] c4po commented on #11
Hi @mdraijer, How bad does the harbor_exportor impact to the harbor performance?  What's your harbor server resource allocation and how frequent do you get the exception.  Just want to know if this is a big issue in most use cases.

I was thinking to modify the `func (h HarborClient) request` in `harbor_exporter.go` to reuse the http connection for each metric requests. Not sure if that will help

[2020-04-10 10:54] mdraijer commented on #11
Under normal circumstances the Harbor instance where we experienced the crash, component harbor-core, has peaks of 0.15 CPU in use. (It has regular peaks in usage every few minutes because of replication schedules which are running.) The pattern is really stable: every few minutes rising from almost 0 to 0.15 and then back to almost 0.

When I first started the harbor-exporter, and deployed a serv

[2020-04-10 14:41] c4po commented on #11
thank for the detail analysis. from your suggestions.

It's easy to implement, but may be hard to maintain the configuration in future if we have many metrics to export.

you mean we need create a "prometheus job" for each metrics? and using different scrape interval?

how about we change the exporter to only call the expensive harbor api every 10 scraps?

I don't want to give end user too many fr

[2020-04-11 07:08] mdraijer commented on #11
Totally agree with 'it should run out of the box'. Indeed the tool should do be configured optimally in advance. However, it should be _possible_ for users to tweak that behaviour. Of course within reasonable limits so the code does not get too complex.

I agree that option 1 might make the code less maintainable. I saw that while implementing it [here](https://github.com/mdraijer/harbor_exporter/

[2020-04-11 13:13] c4po commented on #11
to reduce the number of api call to harbor from the exporter, we can just change the `scape_interval` to a big number. https://github.com/c4po/harbor_exporter/blob/master/kubernetes/harbor-exporter.yaml#L117
can you change that value to `30s` to see if it can solve your problem?

[2020-04-13 06:28] mdraijer commented on #11
That interval is the one I meant where I wrote 30 sec and 55 sec. So I had already started of with 30 sec, so it doesn't solve my problem.

[2020-04-16 13:17] cleman95 opened #12 "unsupported protocol scheme \"\"", using the yaml for a kubernetes cluster."
Hello,

**overview:**

I'm trying to export some metrics from Harbor to prometheus. I deployed Harbor using the Helm Chart  on a Kubernetes cluster. So I used the yaml file given to deploy the harbor exporter on my kubernetes cluster. I only get two metrics related to harbor. The Harbor instance is configurated with HTTPS.

**Environment:**

OS : Centos 7
Kubernetes version : 1.16.7
Chart Helm ver

[2020-04-16 17:41] c4po commented on #12
@cleman95
sorry the document is not clear, please update your `harbor_exporter.yaml` file to change the
[code]
to
[code]

[2020-04-17 09:13] cleman95 commented on #12
thanks a lot it worked for me. So i'm clossing this issue. Great Exporter thanks.

[2020-04-17 09:13] #12 closed

[2020-04-19 11:48] bencer opened #13 "Repository pull metric should be a counter"
Looking at the pull metric it feels it should be a counter, while stars and tags are still gauges:

https://github.com/c4po/harbor_exporter/blob/5755c2d97a2fd5309fa883ad11aeea74bca24942/metrics_repositories.go#L63

[2020-04-19 12:24] bencer opened #14 "Expose /api/health metrics"
Harbor does internal validation of the different services that uses and makes it available through /api/health: https://github.com/goharbor/harbor/blob/e48a148485c7e5af1acc34c7a49e1086d4c9b4c2/src/core/api/health.go#L292-L309

Would be great to expose these through the exporter.

[2020-05-14 20:57] Vad1mo opened #15 "Harbor 2 support"
Would be good if Harbor 2.x was supported or is it?

[2020-05-15 16:26] c4po commented on #15
yes, I'm checking the changes in 2.x to see any impact on the metric api.
also I was hoping the exporter can be included in Harbor natively

[2020-05-15 16:33] Vad1mo commented on #15
Harbor exposing metrics by itself would be nice. On the other hand an exporter in a good helm chart es easy to install and use.

[2020-05-25 08:08] WYmindsky opened #16 "401 invalid credentials"
kubernets：1.14

**error：**
=error ts=2020-05-25T07:43:23.053Z caller=harbor_exporter.go:109 msg="Error handling request for /api/scans/all/metrics" http-statuscode="404 Not Found"
level=error ts=2020-05-25T07:43:23.053Z caller=metrics_scan.go:23 unexpectedendofJSONinput=(MISSING)
level=error ts=2020-05-25T07:43:23.059Z caller=harbor_exporter.go:109 msg="Error handling request for /api/statistics"

[2020-05-25 12:55] c4po commented on #16
what's your harbor version?
harbor 2 support is still under developing

[2020-05-26 01:51] WYmindsky commented on #16
@c4po
harbor version: v1.9.2
harbor.server: https://hub.domain.io (inner service)
ssl cert: *.domain.io

[2020-05-26 15:35] naren4b opened #17 "Getting Error : unsupported protocol scheme"
exporter version :  v0.3.1, branch=master (kubernetes)
harbor version : Version v1.10.1-f3e11715

`level=info ts=2020-05-26T15:32:03.751Z caller=harbor_exporter.go:300 msg="Starting harbor_exporter" version="(version=v0.3.1, branch=master, revision=5755c2d97a2fd5309fa883ad11aeea74bca24942)
level=info ts=2020-05-26T15:32:03.752Z caller=harbor_exporter.go:301 build_context="(go=go1.13.9, user=root,

[2020-05-27 19:52] c4po commented on #17
@naren4b
Can you check it's same as this one https://github.com/c4po/harbor_exporter/issues/12 ?

[2020-05-27 19:57] c4po commented on #16
can you test your connection with curl command
[code]

[2020-05-28 02:44] WYmindsky commented on #16
$ curl -X GET "https://hub.domain.io/api/health" -H "accept: application/json" --user admin:passwd
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   498  100   498    0     0   3921      0 --:--:-- --:--:-- --:--:--  3921{
  "status": "healthy",
  "components": [
    {
      "name": "c

[2020-06-01 04:36] naren4b commented on #17
Yes it works , This issue can be closed

[2020-06-01 12:55] #17 closed

[2020-06-01 13:11] c4po commented on #16
is the exporter run in same kubernetes as the harbor? can you check the deployment yaml file?

[2020-06-05 05:52] txg1550759 opened #18 "harbor_exporter Monitoring cannot find some parameters"
harbor_exporter Monitoring cannot find some parameters of harbor version 1.8, such as harbor_ quotas_ size_ bytes ,harbor_ quotas_ count_ Total, etc,

In fact, only:

![image](https://user-images.githubusercontent.com/17263614/83841557-aa446080-a733-11ea-8879-f9a19a367600.png)

[2020-06-08 23:50] tetra-geoffrey-byers commented on #15
I have created a pull request (#19) to update the API endpoints to the 2.0 versions. Seems to work okay so far.

[2020-06-17 06:14] badsmoke commented on #15
cannot yet confirm that it runs completely with v2:

my one project has 26 repos
but only 10 of these are displayed in the exporter.

"total_repos" is displayed correctly

tags do not match:
gui: 19 tags/artifacts
exporter: 0tags/artifacts

built the exporter with the help of the pull request (#19)

[2020-06-22 09:43] bjethwan opened #21 "Question: What's the best way to deploy?"
I have got a harbor cluster deployed outside of k8s.
I am running multiple harbor nodes fronted by a load balancer, using the same storage.

Should I be running this exporter within k8s or run it on each harbor node (as either a separate systemd unit or club it with harbor's docker-compose)?

Kindly share some insights considering system availability and performance.

[2020-06-22 20:23] c4po commented on #21
@bjethwan I don't have many experience to deploy harbor as cluster. the exporter can run as standalone docker container. If you have harbor server run in docker-compose, I guess it will be easy to add the exporter to the docker compose file.
if all your nodes are share the same storage, you can run exporter with one or all nodes. they should return same result.

[2020-06-23 08:38] bjethwan commented on #21
@c4po
Thanks Max.
I had to deploy this within the k8s, as I get Prometheus auto-discovery. So it was easy.

Your exporter is working well.

I could not understand harbor_repositories_star metrics, as I don't see Star rating support in my harbor install v1.10.1. Kindly provide a one line description

[2020-06-25 22:03] xtreme-conor-nosal opened #22 "use multiple collectors to reduce /metrics latency"
The prometheus /gatherer spins off a goroutine for every Collector to collect metrics in parallel (https://github.com/prometheus/client_golang/blob/master/prometheus/registry.go#L440)

The harbor exporter is registered as a single collector that grabs all the metrics serially (https://github.com/c4po/harbor_exporter/blob/master/harbor_exporter.go#L310)

In my deployment scraping /metrics regularly

[2020-06-28 01:23] c4po commented on #15
I just add the feature to detect Harbor api version. So it should automatically support Harbor v1 and v2 apis.
new version is v0.4.0. Please test and let me know if it has any issues

[2020-06-28 01:23] #16 closed

[2020-07-02 07:55] badsmoke commented on #15
does not work for me neither with version harbor 2.0.0 nor 2.0.1

only the repo metrics are displayed

[code]

[2020-07-14 04:00] hemantdindi opened #26 "Error handling request for /repositories"
Latest build is throwing the below error -
[code]
Code at Line 52 of metrics_repositories.go seems to be updated as per the API
[code]

[2020-07-23 16:32] xtreme-conor-nosal opened #29 "only first page of harbor results are fetched"
Harbor APIs are paginated. If the number of projects/repos/etc exceeds the default page size then not all metrics will be exported.

A quick fix might by to set an excessively large default page size (or expose as an environment variable) but that might have performance impacts. A more rigorous solution will need to loop over each page of results.

[2020-07-23 18:06] c4po commented on #29
for metrics, I think have a large page size will make sense.
we will eventually loop all the pages for the metrics, why not just sending one request and fetch all?

[2020-07-23 19:53] cjnosal commented on #29
It can be a tradeoff between latency for the exporter vs instantaneous load on harbor - I didn't want to make assumptions how harbor APIs scale when querying for increasingly large page sizes. I added a flag in my PR so the end user can choose - set a sufficiently large page and one request will fetch all, or leave the default harbor page size and let the exporter iterate if necessary.

[2020-07-30 15:09] maxdanilov opened #31 "harbor_repositories_tags_total metric is not working for Harbor 2"
After we've upgraded Harbor to v2.0.1 and harbor-exporter to v0.4.0, we found out the tag count metric `harbor_repositories_tags_total` is not working anymore (as it has been working with Harbor 1.x)

This metric is very useful with Harbor 2, since Harbor has dropped the native tag count support for Quotas, and without alerting using metrics from the exporter it's not possible get warned before a

[2020-08-04 04:56] moshloop opened #32 "karina db force-promote"
Provide an option to force promote a sql instance when no lock / spilo-role is held and patroni is failing to connect

[2020-08-04 04:56] #32 closed

[2020-08-25 18:39] c4po commented on #31
this should be fixed in `v0.5.0` now.
harbor v2 changed the name in structure.

however, the `repositories_star_total` is not supported anymore in harbor v2

[2020-08-25 18:39] #31 closed

[2020-08-25 18:40] c4po commented on #26
this should be fixed with `v0.4.0`+.
close this for now.
please reopen it if you still have this issue after upgrade the exporter

[2020-08-25 18:40] #26 closed

[2020-08-25 18:42] c4po commented on #15
the `repositories_tags_total` metric should be fixed with `v0.5.0`
will have another PR to fix the page size issue

[2020-08-25 18:42] #15 closed

[2020-08-25 22:41] c4po commented on #29
@xtreme-conor-nosal  what's the harbor version you are on?
I tested the curl command on harbor core v2.0.2, it seems without providing pagesize, the default will return all records for projects. (at least 100+)

can you test the latest harbor_exporter release `v0.5.0` again and advise if this is still an issue.

[2020-08-25 22:50] c4po commented on #18
sorry, I don't have time to support Harbor API V1 anymore.
can you upgrade Harbor to V2+ and harbor_exporter to v0.5.0 +?

[2020-08-25 22:50] #18 closed

[2020-08-25 22:51] c4po commented on #21
yes, it seems Harbor removed the star feature. I'll remove the metrics.

[2020-08-25 22:51] #21 closed

[2020-08-26 03:32] c4po opened #34 "add timeout to http.client"

[2020-08-26 03:43] #34 closed

[2020-08-26 10:20] mdraijer commented on #11
We've been using the version from https://github.com/mdraijer/harbor_exporter/tree/feature/skip-metrics for quite some time now without any problems. It is absolutely not possible to work _without_ the option to skip metrics, so we will do futher development on that fork only.

[2020-08-26 13:26] cjnosal commented on #29
We tested on Harbor 2.0.1. It looks like the default in Harbor is intended to be 500 (https://github.com/goharbor/harbor/blob/master/src/common/api/base.go#L32-L33). `git blame` shows that change dates back to 2016 though, so maybe they applied the default to more calls. In my 2.0.1 tests, `api/v2.0/projects` returns all our projects, but `api/v2.0/projects/$largeproject/repositories` only returns

[2020-08-26 15:01] c4po commented on #11
Ok, I'll take a look at your implementation and merge this feature back

[2020-08-26 18:10] #11 closed

[2020-08-26 18:47] c4po commented on #11
I have just released the v0.5.2 with additional command line flag `--skip.metrics`

[2020-08-26 18:53] c4po opened #37 "Build Helm Chart for harbor-exporter"
* build a helm chart
* create the installation document

* (bonus point), add to https://github.com/goharbor/harbor-helm

[2020-08-27 07:11] mdraijer commented on #11
Great, thanks!!

[2020-08-27 15:46] c4po commented on #29
It seems the harbor api return `x-total-count` in the response header.
I'll see how to use it to fetch all results

[2020-08-28 14:21] c4po commented on #29
@xtreme-conor-nosal  let's move the conversation here.

I don't have any other big change in flight. for this one, I want to do a request first, get the data and header, then based on the header value, decide if we need go out of the loop. so it can save 1 HEAD call to the api
[code]

[2020-09-02 00:06] #13 closed

[2020-09-02 00:06] #14 closed

[2020-09-02 00:06] #22 closed

[2020-09-05 03:26] NarendranathPanda opened #38 "How to debug the issue related to : "cannot get harbor api version" err="unable to determine harbor version""
![image](https://user-images.githubusercontent.com/3488520/92296757-68ef6700-ef55-11ea-920f-68e63fc772fc.png)

[code]

[2020-09-06 14:23] c4po commented on #38
What's your harbor version?
can you manually test with this 2 URLs?
`https://myregistry.com/api/systeminfo` and `https://myregistry.com/api/v2.0/systeminfo`

[2020-09-07 21:59] Vad1mo opened #40 "Application Crashes"
The application starts up correctly, but when I do `curl http://localhost:9107/metrics`

The application crashes. It might be because we are using OIDC but I am not sure.

Error Message + Stack Trace:
[code]

[2020-09-08 00:26] c4po commented on #40
@Nick-Triller  can you check if this is related to your commits?

[2020-09-08 00:35] c4po commented on #40
@Vad1mo  Sorry I didn't test it our before release the new version. This may related to a new feature for caching. I just rolled back to v0.5.2. can you try it again?

[2020-09-08 03:45] Nick-Triller commented on #40
Hi, sorry about that, this bug slipped past me because it only happens when the timing is unlucky. https://github.com/c4po/harbor_exporter/pull/41 fixes this issue.

[2020-09-08 09:16] Vad1mo commented on #40
thank you, now it works

[2020-09-08 09:16] #40 closed

[2020-09-09 10:32] maxdanilov opened #42 "Version 0.5.3 crashes during operation"
Here's the error I see after the upgrade to 0.5.3:
[code]

0.5.2 works fine.

Harbor version: 2.0.1

[2020-09-18 19:58] dntosas commented on #37
@c4po i can help with that ^^ one question for the bonus point, is that afaik, harbor has on its roadmap to implement prometheus on its internal codebase. do you think it is worth trying add the exporter to their official helm chart also ?

[2020-09-18 20:02] c4po commented on #37
@dntosas  I created the issue https://github.com/goharbor/harbor-helm/issues/707 . No sure if they will add the this exporter or wait for the official prometheus feature build in harbor.

[2020-09-23 06:13] dntosas opened #45 "Exporter OOMKilled all the time"
Docker image tags tested: `debug` `latest` `v0.5.3` `v0.5.2`

Harbor version: `v2.1.0`

Memory Limits: `256Mi`

Pod is always restarting due to OOMKill after some time of scraping. Maybe there is a leak to be caught in here? No logs showing some error or something not normal.
![Screenshot from 2020-09-23 09-10-46](https://user-images.githubusercontent.com/15010919/93973503-f536c200-fd7c-11ea-9048-

[2020-09-23 08:05] badsmoke commented on #29
are there any news?
what is the best solution to implement it and when will it be implemented?

[2020-09-23 15:46] c4po commented on #45
@dntosas  how large is your harbor repo?
number of projects
number of images
etc.

[2020-09-24 21:35] cjnosal commented on #29
Sorry, I've been busy and haven't had the chance, but I have some time over the next few days. The best solution is to work off `x-total-count`.

[2020-09-25 17:11] cjnosal commented on #45
In local testing I'm also seeing memory climb. Haven't had a chance to try profiling but just by having the Mac Activity Monitor open and running the exporter against a local harbor with a couple projects/artifacts the memory usage increases a few hundred kB on every /metrics request. The problem exists at least as far back as 0.4.0 (e04c7f853dadba636fd49dc1500cb53bea87f2b9)

[2020-09-25 17:19] cjnosal commented on #45
Or it might eventually be stabilizing at a higher memory usage. It's possible it's related to caching or garbage collection

[2020-09-29 00:23] #29 closed

[2020-09-30 06:25] dntosas commented on #45
- 2 projects
- ~10000 images
- 300 repos

[2020-09-30 09:06] maxdanilov commented on #42
Hi @c4po, do you know if this has been fixed in 0.5.4?

[2020-09-30 13:14] c4po commented on #42
@maxdanilov this should get fixed in 0.5.4.

[2020-09-30 13:18] c4po commented on #45
@dntosas can you increase the memory limit to see you still get OOM or the garbage collection will work.

[2020-09-30 13:42] dntosas commented on #45
already done that ^^ exporter seems to stabilize at about ~2GB of memory

[2020-09-30 13:50] #45 closed

[2020-10-01 10:14] #42 closed

[2020-10-01 13:24] dkulchinsky opened #52 "Possible memory leak leading to recurring OOMKilled"
Hey there @c4po!

We've been testing the exporter in our sandbox environment for few weeks now and it looks like there might be a memory leak causing OOMKilled condition.

Our Harbor setup runs in K8s (GKE), harbor-exporter runs in a separate pod with the following resource allocations:
[code]

this should reasonable, especially considering the sandbox deployment has 2 projects and a handful of re

[2020-10-01 15:50] Nick-Triller commented on #52
Hi,

I found the leak. For each request, a new HTTP client is created here: https://github.com/c4po/harbor_exporter/blob/master/harbor_exporter.go#L227
This behavior was introduced in v0.5.0

netstat clearly shows that new connections are opened and stay open for each scrape request:
[code]

I created a fix and will open a pull request soon.

Best
Nick

[2020-10-01 15:52] Nick-Triller commented on #45
Please see [issue 52](https://github.com/c4po/harbor_exporter/issues/52) for a resolution. Harbor Exporter leaks TCP connections. These are closed after some time, this is the reason the used memory stabilizes at some point.

[2020-10-01 18:34] dkulchinsky commented on #52
good catch @Nick-Triller, happy to test the fix once you have it.

[2020-10-02 14:56] Nick-Triller commented on #52
@dkulchinsky Feel free to test the fix now: https://github.com/c4po/harbor_exporter/pull/55

[2020-10-05 14:03] dkulchinsky opened #56 ""422 Unprocessable Entity" error when scraping "/projects?page=1&page_size=500" with default HARBOR_PAGESIZE (500)"
Hey folks,

Been testing the latest version with pagination on a Harbor v2.1.0 deployment and with the default `HARBOR_PAGESIZE=500`, we're getting the following error:

[code]

adjusting `HARBOR_PAGESIZE` to `100` "fixes" the issue.

as far as I can tell, the API does support a max of 500: https://github.com/goharbor/harbor/blob/58b7242a2551205428584b24bf11f1fd7d2b69fd/src/common/api/base.go#L32-

[2020-10-05 14:21] Nick-Triller commented on #38
@NarendranathPanda The screenshot indicates there is some kind of networking problem between Harbor and the Exporter. I think it's unlikely the issue is caused by the exporter.

[2020-10-05 23:35] cjnosal commented on #56
I haven't seen the 422 specifically but did see gateway timeouts with large page sizes (even though the result set was < 100...). I think a default in the 50-100 range would be a good middle ground between small harbors not needing paging and leaving the tuning of larger deployments to the operator.

[2020-10-05 23:41] dkulchinsky commented on #56
Thanks @xtreme-conor-nosal! I'm curious if it's Harbor version dependant, which Harbor version do you run? and I agree, a default of 100 sounds like a good starting point and then folks can adjust as needed.

[2020-10-06 13:31] #52 closed

[2020-10-06 13:32] c4po commented on #52
thanks @Nick-Triller @dkulchinsky , this has been merged and released as v0.5.7 .

[2020-10-06 19:38] cjnosal commented on #56
We're still running Harbor 2.0.x, though our data sets aren't approaching 500 of anything yet, and my PR and testing used smaller page sizes.

I'm not sure how to reconcile the 500 in harbor code with the 100 in the swagger docs - it's worth clarifying with the Harbor developers. One other thought I had is if you check your Harbor logs does the `core` return 422 to `nginx`, or does only `nginx` lo

[2020-10-07 00:25] #56 closed

[2020-10-07 14:30] c4po opened #61 "use github action for CI"
migrate CI from circleci to github action

[2020-10-07 14:54] IduVlad opened #62 "Image scan vulnerability metrics"
add metrics for vulnerability scan report #60 :

![Screenshot 2020-10-07 at 17 50 08](https://user-images.githubusercontent.com/24604641/95347562-b3059880-08c5-11eb-903c-e3e8e12b7340.png)
![Screenshot 2020-10-07 at 17 52 12](https://user-images.githubusercontent.com/24604641/95347713-de888300-08c5-11eb-9cb5-1397730d042a.png)

[2020-10-07 17:43] thechristschn opened #63 "Caching not configurable via env vars"
Currently, caching can only be configured via command parameters.
To maintain all configuration in one place for deployments with docker, it would be great to make these settings configurable via environment variables.

[2020-10-08 02:14] #63 closed

[2020-10-08 02:55] #61 closed

[2020-10-08 07:40] IduVlad opened #66 "Prometheus alert rules"
Would be nice to add prometheus alerts for metrics like:
```harbor_up```, ```harbor_system_volumes_bytes{storage="free"}```, ```harbor_health```, ```harbor_components_*```, ```go_memstats_frees_total```, ```harbor_image_vulnerability```

[code]

[2020-10-16 11:50] drehpehs opened #67 "Quotas metrics are not showing"
Hi there,

I was using harbor v2.0.1 and exporter v0.4.0 before, and everything works well.
But recently I tried to upgrade harbor to v2.1.0 and found the harobr_up metric keeping 0 with exporter v0.4.0.
Then I changed the exporter to latest version(v0.5.8), and harobr_up is back to 1 as expected.
However,  quotas metrics (harbor_quotas_*) are not showing anymore. Do you know the possible reason o

[2020-10-20 02:01] drehpehs commented on #67
I found the cause of it.
The "/quota" API call was failed because there are some inconsistency DB data in my testing env. since v2.1.0

[2020-10-20 02:01] #67 closed

[2020-10-30 13:32] mdraijer opened #70 "Issues with replication status"
There are some issues with the replication status: it is alerting far too often.
We found two situations where there is an alert:
1) When a replication execution is in progress it is not successful. Then, when the next metric is retrieved, another replication is in progress, and so on, the overall status of the Harbor replications is unsuccessful.
A fix would be to check the before-last execution

[2020-10-30 13:37] #70 closed

[2020-11-04 07:53] naren4b commented on #38
https://registry.xyz.com/api/v2.0/systeminfo is getting me the 200 OK  , other one is https://registry.xyz.com/api/v2.0/systeminfo gets me 404

[2020-11-05 01:17] c4po commented on #38
Is there any firewall or network policy that block harbor_exporter connect to your harbor instance?
it seems the harbor_exporter can not connect to yout harbor instance.

[2020-11-17 03:20] naren4b commented on #38
Looks like there was a netwrok policy which was blocking the acess . Thanks for the support closing the  issue

[2020-11-17 03:20] #38 closed

[2020-11-23 06:07] mkosterin opened #71 "volume free/used metrics"
Hello!
I tried to use this solution to get free/used space, but it doesn't show any results.
Could you please help me to sort out this issue?
I use 0.5.9 version. Some metrics e.g. repo count, up/down status, scan quantity works fine
![image](https://user-images.githubusercontent.com/3032230/99933017-96d99000-2d7b-11eb-9f5c-dccf1a093099.png)

[2020-11-23 06:21] mkosterin commented on #71
https://github.com/goharbor/harbor-helm/issues/441

[2020-12-13 18:28] #62 closed

[2020-12-14 08:04] #66 closed

[2021-01-26 14:45] dkulchinsky opened #75 "artifacts collector fails when there are repos without artifacts"
Hey folks 👋🏼

Just upgraded to 0.6.0 and very excited about the new artifacts collector, however it seems it has a small issue where it doesn't handle the situation when repositories have no artifacts/images:

[code]

above is a proxy cache project with a bunch of repositories where images were deleted by the default retention rule (although we have similar conditions in non proxy cache projects).

[2021-01-26 17:06] dkulchinsky commented on #75
after looking at this some more I believe my initial conclusion was wrong, the issue seems to be when the repository name includes a `/`, according to the API docs:

[code]

[2021-01-26 19:09] ErmakovDmitriy commented on #75
Hi @dkulchinsky,
Thank you for your pull request!

[2021-01-26 20:21] #75 closed

[2021-01-27 00:37] dkulchinsky opened #77 "include the tag name in the artifacts_* metrics"
Happy to see the new artifacts_* metrics, great stuff 👍🏼

I was wondering if it would be worth adding the tag name as a label? the artifact_name includes the artifact's digest but tags are more human readable I'd say.

Thoughts?

[2021-01-28 21:40] el1x1r opened #78 "Repositories and statitics metrics got zero values"
Well I'm using harbor v2.1.3 with the harbor exporter v0.6.1, statistics and repositories api work well, but I have this

[code]
After get in touch of this metrics `metrics_statistics.go`, all is good after this [line](https://github.com/c4po/harbor_exporter/blob/80b471477e64b1430b5327ace605b978306d8a0b/metrics_statistics.go#L27)

https://github.com/c4po/harbor_exporter/blob/80b471477e64b1430b5327

[2021-01-29 07:04] #71 closed

[2021-01-30 23:03] #37 closed

[2021-02-07 08:22] gotoing opened #79 "harbor v2.1.3 pannic error"
**harbor version**: v2.1.3-b6de84c5

**error info:**
level=info ts=2021-02-07T08:19:52.983Z caller=harbor_exporter.go:460 metrics_group=systeminfo collect=true
level=info ts=2021-02-07T08:19:52.983Z caller=harbor_exporter.go:460 metrics_group=artifacts collect=true
level=info ts=2021-02-07T08:19:52.983Z caller=harbor_exporter.go:460 metrics_group=health collect=true
level=info ts=2021-02-07T08:19:

[2021-02-11 22:45] warroyo commented on #77
I am looking into submitting a PR for this. I think one challenge is handling multiple tags on an image. thoughts on how you would like to see that happen are appreciated

[2021-02-11 23:08] warroyo commented on #77
ok so I decided initially to do this by producing a metric for every tag. there is obviously duplication if you have multiple tags by filtering this out should be really easy with promql PR coming soon

[2021-02-11 23:35] warroyo commented on #77
PR https://github.com/c4po/harbor_exporter/pull/80

[2021-02-13 02:48] #77 closed

[2021-02-22 16:40] v9rt3x opened #82 "Missing replication metrics"
**Version: 0.5.9**

Hey,
we noticed that after the upgrade to version 0.5.9 the replication metrics were missing. (See changes: https://github.com/c4po/harbor_exporter/pull/69/files)
Metrics:
- harbor_replication_status
- harbor_replication_tasks

We are using manual and event_based policies.

[2021-02-24 14:11] pja-kit opened #84 "Wrong trimming of artifact name"
When collection metrics for a Harbor repository with a name starting with 'c' doesn't work.
A reponame:
`dockerhub-proxy/c4po/harbor-exporter:0.6.2`
causes a request to:
/api/v2.0/projects/dockerhub-proxy/repositories/4po%2Fharbor-exporter/artifacts?with_tag=true&with_scan_overview=true
and not the expected:
/api/v2.0/projects/dockerhub-proxy/repositories/c4po%2Fharbor-exporter/artifacts?with_tag=

[2021-02-25 13:36] #84 closed

[2021-02-25 13:38] #82 closed

[2021-03-05 12:57] alexandrovas opened #86 "404 error for repository with slash in name"
Hello!
I have repository with this name:
[code]
On scrape metrics exporter logs this error:
[code]

Looks like the slash is incorrectly encoded. This issue can help you: https://github.com/goharbor/harbor/issues/12224

harbor-exporter version: 0.6.3

[2021-03-11 11:21] Gui13 opened #88 "Some projects are not visible in the vulnerability stats."
I have a lot of docker images, so I have a lot of scan reports.

From what I can see, the exporter does not gather ALL vulnerabilitie: I have an image that has more than 100 vulns, and curling the metrics endpoint does not show it to me.

Could this be that the gathering of stats is never capable of retrieving all my report?

[2021-03-23 15:11] #86 closed

[2021-03-23 15:12] #78 closed

[2021-03-26 00:48] gar0t0 opened #91 "Single pod running multiple containers"
Hi,
I made some changes in your code, and I need to know if it's ok for you.

that change:

this: listenAddress = kingpin.Flag("web.listen-address", "Address to listen on for web interface and telemetry.").Default(":9107").String()
to: listenAddress = kingpin.Flag("web.listen-address", "Address to listen on for web interface and telemetry.").Envar("EXPORTER_PORT").Default(":9107").String()

Add th

[2021-04-01 04:39] zhongguanqun opened #92 "can't scrape metrics from harbor-exporter, it looks like timeout, not response."
run log:
level=info ts=2021-04-01T04:33:57.757Z caller=harbor_exporter.go:447 CacheEnabled=true
level=info ts=2021-04-01T04:33:57.757Z caller=harbor_exporter.go:448 CacheDuration=20s
level=info ts=2021-04-01T04:33:57.757Z caller=harbor_exporter.go:450 msg="Starting harbor_exporter" version="(version=v0.6.4, branch=master, revision=052f98a8fabafcfc116b359914da1f978b10203d)"
level=info ts=2021-04-01

[2021-04-14 18:46] Nick-Triller opened #93 "Collect metrics periodically instead of on scrape"
Hi,

collecting metrics takes a long time for Harbor installations with a large amount of content. We are at a point where Prometheus scrapes time out when the exporter invalidates the cached metrics because collecting the metrics takes too long. This might be the problem in #92, too.

I propose implementing continuous, periodic metrics collection that is independent from scrape requests. Scrapes

[2021-04-14 19:59] c4po commented on #93
for large prometheus metrics collection, I think we should increase the scrape_interval instead of let the exporter decide when to collect the data.
prometheus exporter should just be a proxy layer between prometheus and application to reorg the data.

[2021-04-15 13:55] #79 closed

[2021-04-19 08:27] Nick-Triller commented on #93
Hi @c4po,
thank you for your timely feedback. I see your standpoint, I will disable expensive collectors instead of making the exporter more complex.
Best, Nick

[2021-04-19 08:27] #93 closed

[2021-04-19 08:51] Nick-Triller commented on #92
Hi @zhongguanqun,
what do you observe when you send a request to `/metrics` manually?
[code]

[2021-04-22 17:34] kiefersmith commented on #93
I am also having a similar issue.  Harbor's scrape consistently hits > 10s.  Going to increase the `scrape_timeout` for the job, but I'm not convinced it's a permanent solution.

[2021-04-22 19:38] Nick-Triller commented on #93
@kiefersmith consider disabling artifact metrics with `--skip.metrics artifacts` if you haven't yet. Scrape duration fell from 1:40min to 2s for us.

[2021-04-22 20:38] kiefersmith commented on #93
@Nick-Triller Yeah, that's a good recommendation, thanks.  We're not running the latest version of  Harbor (comes with metrics!) yet, so might also look at supplementing with those when we upgrade.

If I remember I'll report back with my findings.  👍🏻

[2021-04-27 13:58] dkulchinsky opened #95 "Feature request: add start_time, end_time & duration labels in replication_tasks metric"
Hey there 👋🏼 was thinking it would be useful to add a few more labels to the `replication_tasks` metric, specifically:
- `start_time`
- `end_time`
- `duration` (`end_time` - `start_time`)

The `replications/executions` API used by the collector already returns this information:
[code]

In our case, we would like to use this information:
1. To detect replication tasks that take a long time to compl

[2021-05-21 04:04] #88 closed

[2021-06-10 14:32] Daxenirean opened #96 "grafana/harbor-overview.json"
Good day! I use JSON for Grafana and the storage panel does not work - there is no variable there - harbor_quotas_size_bytes.   how to fix?

[2021-06-11 18:19] #91 closed

[2021-06-14 16:56] hemantdindi opened #97 "Volume Metrics are not Generated"
When We ran the exporter, came across the below error -
[code]

[2021-06-25 12:11] #92 closed

[2021-07-03 19:41] #95 closed

[2021-07-07 23:28] brtkwr commented on #97
Same here

[2021-07-27 11:42] gorkemozlu commented on #97
same here. it might be related with harbor version. it's v2.2.1 for us.

[2021-08-16 17:58] #96 closed

[2021-09-27 11:17] gorkemozlu commented on #97
ping.

[2021-11-08 13:41] TomHellier commented on #97
hi is anyone looking at this?

[2022-01-14 17:35] #97 closed

[2022-03-14 19:09] el1x1r commented on #97
Same here, any update on this?

[2022-06-29 08:41] jayolmos commented on #97
ping

[2022-06-29 09:08] TomHellier commented on #97
@jayolmos I migrated to use goharbor/harbor-exporter.

[2022-07-11 07:27] timdittler commented on #97
Thanks for the hint @TomHellier. Does it also export `harbor_artifacts_vulnerabilities`? I can only find [this doc](https://goharbor.io/docs/2.2.0/administration/metrics/), so I guess not?!